

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* font faces */
@font-face {
    font-family: 'HitTheRoadRegular';
    src: url('../fonts/hitroad-webfont.eot');
    src: url('../fonts/hitroad-webfont.eot?iefix') format('eot'),
         url('../fonts/hitroad-webfont.woff') format('woff'),
         url('../fonts/hitroad-webfont.ttf') format('truetype'),
         url('../fonts/hitroad-webfont.svg#webfontAhqUa3rg') format('svg');
    font-weight: normal;
    font-style: normal;

}


.h1 {
	color: red !important;
	font: 11em "HitTheRoadRegular" !important;
	display:block;
	width:100%;
	margin-top: -240px;
	position:relative;
	z-index:11111;
	
	

}

img	{
	width: 100%;
}

















